// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
  --background: linear-gradient( rgba(255,255,255,.5), rgba(0,0,0,.2) );
  //url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhyGoiquqfPjW1OfSpPmMuRmwCHF6mZgazOkVGxBc_tX4Vq_tM8A');
  //background-color: rgba(200,100,0,.5); // Tint color
  background-blend-mode: multiply;
}

ion-card {
  //--background: #fff;
  //--background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5), rgba(255,255,255,0.5));
  background-color: rgba(255,255,255,0.5) !important;
}

ion-card-title {
  color: var(--ion-color-dark);
}

ion-button {
  --box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
}

ion-segment-button {
  --background: var(--ion-color-light);
}

.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}

//body {
//  background-image: url("http://www.exploringmacedonia.com/content/images/Lazaropole/large/Lazaropole_Panorama_6_560[1].jpg");
//}

//body {
//  margin: 100px;
//}
